body.dark-mode {
  background-color: #333;
  color: #ffffff;
}
body.dark-mode .navbar {
  background-color: #2a2a2a !important;
}
body.dark-mode .btn {
  background-color: #333333;
  color: #ffffff;
}
body.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
body.dark-mode .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
body.dark-mode .text-dark {
  color: #ffffff !important;
}
body.dark-mode .text-muted {
  color: #cccccc !important;
}
body.dark-mode .github-button, body.dark-mode .total-article-button, body.dark-mode #prevPage, body.dark-mode #nextPage {
  background-color: #ffffff;
  color: #333333;
}
body.dark-mode .nav-link {
  color: #ffffff !important;
}
body.dark-mode .navbar-brand {
  color: #ffffff !important;
}
body.dark-mode #darkModeToggle {
  background-color: #ffffff;
  color: #333333;
}


/* Mobile Styles */
@media (max-width: 600px) {
  h1 {
      font-size: 3.75em; /* Slightly smaller header on mobile */
  }

  #feed-list a {
      font-size: 40px; /* Increase link size for readability on small screens */
  }

  .feed-content {
      font-size: 36px; /* Increase content size for readability on small screens */
  }

  .iso-date {
      font-size: 14px; /* Increase date size for readability on small screens */
  }

  .pagination-container button {
      padding: 10px 20px; /* Increase padding for larger touch targets */
      font-size: 16px; /* Increase font size for better readability */
  }
}