body.dark-mode {
  background-color: #333;
  color: #ffffff;
}
body.dark-mode .navbar {
  background-color: #2a2a2a !important;
}
body.dark-mode .btn {
  background-color: #333333;
  color: #ffffff;
}
body.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
body.dark-mode .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
body.dark-mode .text-dark {
  color: #ffffff !important;
}
body.dark-mode .text-muted {
  color: #cccccc !important;
}
body.dark-mode .github-button, body.dark-mode .total-article-button, body.dark-mode #prevPage, body.dark-mode #nextPage {
  background-color: #ffffff;
  color: #333333;
}
body.dark-mode .nav-link {
  color: #ffffff !important;
}
body.dark-mode .navbar-brand {
  color: #ffffff !important;
}
body.dark-mode #darkModeToggle {
  background-color: #ffffff;
  color: #333333;
}


/* Mobile Styles */
@media (max-width: 600px) {
  h1 {
      font-size: 3em; /* Balanced header size for smaller screens */
      line-height: 1.2; /* Add spacing for better readability */
  }

  #feed-list a {
      font-size: 1.5rem; /* Relative size for scalable readability */
      padding: 0.5em 0; /* Add vertical spacing */
      display: block; /* Easier to tap by making links block-level */
  }

  .feed-content {
      font-size: 1.25rem; /* Relative content size */
      line-height: 1.5; /* Add line spacing for better readability */
  }

  .iso-date {
      font-size: 1rem; /* Relative size for dates */
      color: gray; /* Softer color to reduce distraction */
  }

  .pagination-container button {
      padding: 0.75em 1.5em; /* Larger touch target */
      font-size: 1rem; /* Scalable font size */
      border-radius: 5px; /* Add a border radius for modern look */
      display: inline-block; /* Ensure proper button placement */
  }
}


.header-container {
  display: flex;
  justify-content: space-between; /* Ensures items are spaced at the edges */
  max-width: 1440px;
}

